body {
  font-family: 'Roboto', sans-serif;
  background: transparent;
  color: #333;
  border-left: 10px double black;
  border-right: 10px double black;
  padding: 20px;
  border-top: 8px double black;
  box-sizing: border-box;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.star-wars {
  perspective: 400px;
  height: 100vh;
  overflow: hidden;
  color: aliceblue;
}


@keyframes crawl-animation {
  0% {
      top: 100vh;
  }
  30% {
      top: 100vh;
  }
  70% {
      top: -500vh; /* Adjust this value based on the length of your content */
  }
  100% {
      top: -500vh; /* Adjust this value based on the length of your content */
  }
}



.no-results{
  color: rgb(239, 238, 238);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}