 .mars-weather {
  background-image: url('https://media.tenor.com/_fvtnMZODy0AAAAd/planet-mars-mars.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 517px;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  opacity: 0.8;
  flex-direction: column; 
  text-align: center;
  justify-content: center;

} 

.sol-card {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px; 
  padding: 20px;
  margin: 10px;
  margin-right: auto;
  width: 110px; 
  height: auto; 
  color: white; 
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #000;
}
.sol-card-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}
.weather-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}