.video-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #0a0909;
  color: #ffffff;
}

.video-search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.video-search-input input {
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
}

.video-search-button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #ffffff;
  color: #0a0909;
  border: none;
  cursor: pointer;
}

.video-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}

.video-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1e1e;
  padding: 20px;
  border-radius: 8px;
}

.video-card h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.video-card iframe {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video-card iframe video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* CSS for the modal */
.ReactModal__Overlay--video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content--video {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  border: none;
  background: #000;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
}

.ReactModal__Content--video iframe {
  width: 100%;
  height: 100%;
}
